header {
	padding: 50px 50px;
}

h2 {
	font-size: 25px;
	color: white;
	font-family: Arial;
	font-weight: bold;
	margin-left: -110px;
	margin-top: -50px;
}

body {
	background-color: #121212;
	color: white;
}

section#main {
	display: flex;
	padding: 50px 0px 300px 100px;
	color: white;
}

section#informationSection {
	justify-content: space-evenly;
	padding: 70px 144.5px;
	background-color: #6f9556;
	border-radius: 40px;
	display: block;
	margin-left: 200px;
	justify-content: center;
}

#updateBtn {
	font-family: Arial;
	font-size: 12;
	border-radius: 30px;
	background-color: #383939;
	color: white;
	margin-top: 10px;
	border: #383939;
	padding: 12px 10px;
	font-weight: bold;
	margin-left: -25px;
	cursor: pointer;
}

#removeBtn {
	font-family: Arial;
	font-size: 12;
	border-radius: 30px;
	background-color: #383939;
	color: white;
	margin-top: 10px;
	border: #383939;
	padding: 12px 19px;
	font-weight: bold;
	margin-left: 10px;
	cursor: pointer;
	margin-right: -11px;
}

#SSN {
	border-radius: 15px;
	padding: 7px 17px;
	margin-bottom: 7px;
}

#fullName {
	border-radius: 15px;
	padding: 7px 17px;
	margin-bottom: 7px;
}

#address {
	border-radius: 15px;
	padding: 7px 17px;
	margin-bottom: 7px;
}

#phoneNumber {
	border-radius: 15px;
	padding: 7px 17px;
	margin-bottom: 10px
}

label {
	margin-left: 5px;
	font-family: Arial;
	font-weight: normal;
	font-size: 5;
}

#menu {
	display: block;
	width: 300px;
	height: 400px;
	margin-top: 0px;
	margin-left: 100px;
}

footer {
	display: flex;
	padding: 15px 720px;
}

#footerLeft {
	display: block;
	margin-left: 15%;
	padding: 50px 100px;
}

#location {
	margin-bottom: 10px;
	margin-left: -200px;
	margin-right: 20px;
}

#contactNumber {
	margin-bottom: 10px;
	margin-left: -200px;
}

#email {
	margin-left: -200px;
}

#footerRight {
	padding: 50px 30px;
}

#test {
	margin-left: -9px;
}

ul {
	list-style-type: none;
	margin-top: -3%;
}

li {
	padding: 6px;
}

#liAboutUs {
	margn-top: -20px;
}

#displayBoxSucced {
	background-color: green;
	float: right;
	padding: 12px;
	font-family: Arial;
	margin-top: 130px;
	margin-left: 56.7%;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	position: fixed;
}

hr {
	border: 1px solid white;
}

#logo {
	margin-left: 9%;
}